<div class="container">
    <mat-card class="FormularioStyle my-4" >
      <mat-card-title class="p-3">Ingresar Cliente</mat-card-title>
        <form [formGroup]="ClienteForm">
            <div class="row">
              <div class="col-12">
                <mat-form-field class="w-100" >
                  <mat-label>Seleccione tipo identificación:</mat-label>
                  <mat-select formControlName="tipoIdentificacion">
                    <mat-option value="ced">Cedula</mat-option>
                    <mat-option value="ruc">Ruc</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <mat-form-field class="w-100" >
                  <mat-label>Nombre</mat-label>
                  <input matInput type="text" formControlName="nombre">
                </mat-form-field>
              </div>
              <div class="col-md-6 col-12">
                <mat-form-field class="w-100" >
                  <mat-label>Identificación</mat-label>
                  <input matInput type="text" formControlName="identificacion">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-12">
                <mat-form-field class="w-100" >
                  <mat-label>Dirección</mat-label>
                  <input matInput type="text" formControlName="direccion">
                </mat-form-field>
              </div>
              <div class="col-md-6 col-12">
                <mat-form-field class="w-100" >
                  <mat-label>Telefono</mat-label>
                  <input matInput type="text" formControlName="telefono">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <mat-form-field class="w-100" >
                  <mat-label>Correo</mat-label>
                  <input matInput type="email" formControlName="correo">
                </mat-form-field>
              </div>
              <div class="col-md-6 col-12">
                <mat-form-field class="w-100" >
                  <mat-label>Razón Social</mat-label>
                  <input matInput type="text" formControlName="razonSocial">
                </mat-form-field>
              </div>
            </div>
             <div class="row">
              <div class="col-md-6 col-12">
                <mat-form-field class="w-100" >
                  <mat-label>Seleccione estado:</mat-label>
                  <mat-select formControlName="estado">
                    <mat-option value="1">Verdadero</mat-option>
                    <mat-option value="0">Falso</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6 col-12">
                <mat-form-field class="w-100" >
                  <mat-label>Seleccione activo:</mat-label>
                  <mat-select formControlName="activo">
                    <mat-option value="true">Verdadero</mat-option>
                    <mat-option value="false">Falso</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
             </div>
        </form>
          <mat-card-actions>
            <button  mat-raised-button class="w-100" (click)="CrearCliente()" color="primary" >
                Ingresar 
            </button>
          </mat-card-actions>
      </mat-card>
</div>
